<!doctype html>
<header>
  <ul class="header-menus">
    <li>
      <a href="/about">Me</a>
    </li>
    <li>
      <a href="/works">Works</a>
    </li>
    <li>
      <a href="https://kpbrms555.hatenablog.com/">Blog</a>
    </li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>Welcome to My Page!</h2>
  </div>
</div>
