<!DOCTYPE html>
<html>
  <header>
    <ul class="header-menus">
      <li>
        <a href="/">Top</a>
      </li>
      <li>
        <a href="/works">Works</a>
      </li>
      <li>
        <a href="https://kpbrms555.hatenablog.com/">Blog</a>
      </li>
    </ul>
  </header>

















</html>
